.app {
    background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__page {
        overflow: visible;
        position:relative;
        display: flex;
        &>div{
            //min-height: 100%;
            min-width: 100vw;   
            
        }
        &-2{
            max-height:50vh;
            overflow: scroll;
        }
    }
}
