.results {
    height: auto;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    color: white;

}