.results__list {
    font-size: 1rem;
    display: flex;
    width: 100vw;
    justify-content: center;
    color: hsl(0,0,96);

    &  >div{
        margin: 0 10vw;
    }
    
    ol {
        font-size: 1rem;
    }
}